<!DOCTYPE HTML>

<head>
  <meta charset="utf-8">
  <title>Layout Trial</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <nav>
    <h1>Nav</h1>
  </nav>
  <main>
    <h1>Title</h1>
    <div class="Card">
      <h2>Card Title</h2>
      <div class="card-recipe">
      <div class="card-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Blueberry_pancakes_%283%29.jpg/375px-Blueberry_pancakes_%283%29.jpg" alt="Bluebery Pancakes">
      </div>
      <div class="card-list">
        <ul>
          <li>List Item</li>
        </ul>
      </div>
      </div>


      <h3>Directions</h3>
      <p>1. Step One</p>
    </div>
    <div class="Card">
      <h2>Card Title</h2>
      <div class="card-recipe">
      <div class="card-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Blueberry_pancakes_%283%29.jpg/375px-Blueberry_pancakes_%283%29.jpg" alt="Bluebery Pancakes">
      </div>
      <div class="card-list">
        <ul>
          <li>List Item</li>
        </ul>
      </div>
      </div>


      <h3>Directions</h3>
      <p>1. Step One</p>
    </div>

  </main>
</body>
